<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <%- include partials/_header %>
    <% if (user === undefined) { %>
      
        <h1>Please login/register</h1>
      
    <% } else { %>

    <!--take shortURL and display the full URL-->
    <li><b>ShortURL:</b><a href='/u/<%= shortURL %>'><%= shortURL %></a></li>
    <!-- add text input and update button-->
    <form method="POST" action="/urls/<%= shortURL %>">
        <li>
        <input id="longURL" type="text" name="longURL" value="<%= longURL %>" style="width: 200px">
        <input type="submit" value="update">
        </li>
    </form>

    <% } %>
  </body>
</html>
